<div class="p-grid p-justify-center">
    <div class="p-col-3">
        <a routerLink="/content/psychiatric" routerLinkActive="active">
            <p-card header="Psychiatric Support" [style]="{width: '360px'}" styleClass="ui-card-shadow">
                <p-header>
                    <img src="Card" src="assets/images/home/psychiatric.png">
                </p-header>
            </p-card>
        </a>
    </div>
    <div class="p-col-3">
        <a routerLink="/content/counselling" routerLinkActive="active">
            <p-card header="Mental Health Counselling" [style]="{width: '360px'}"
                styleClass="ui-card-shadow">
                <p-header>
                    <img src="Card" src="assets/images/home/counselling.jpg">
                </p-header>
            </p-card>
        </a>
    </div>
</div>
<div class="p-grid p-justify-center">
    <div class="p-col-3">
        <a routerLink="/content/sports" routerLinkActive="active">
            <p-card header="Sport Activities" [style]="{width: '360px'}" styleClass="ui-card-shadow">
                <p-header>
                    <img src="Card" src="assets/images/home/sports.png">
                </p-header>
            </p-card>
        </a>
    </div>
    <div class="p-col-3">
        <a routerLink="/content/yoga" routerLinkActive="active">
            <p-card header="Yoga for Wellbeing" [style]="{width: '360px'}" styleClass="ui-card-shadow">
                <p-header>
                    <img src="Card" src="assets/images/home/yoga.png">
                </p-header>
            </p-card>
        </a>
    </div>
</div>
<div class="p-grid p-justify-center">
    <div class="p-col-3">
        <a routerLink="/content/meditation" routerLinkActive="active">
            <p-card header="Meditative Practices" [style]="{width: '360px'}" styleClass="ui-card-shadow">
                <p-header>
                    <img src="Card" src="assets/images/home/meditation.jpg">
                </p-header>
            </p-card>
        </a>
    </div>
</div>