<div class="p-grid p-justify-center">
    <div class="p-col-3">
        <a routerLink="/content" routerLinkActive="active">
            <p-card header="Psychiatric Support" [style]="{width: '360px'}" styleClass="ui-card-shadow">
                <p-header>
                    <img src="Card" src="assets/images/home/psychiatric.jpg">
                </p-header>
            </p-card>
        </a>
    </div>
    <div class="p-col-3">
        <p-card header="Mental Health Counselling" subheader="Subheader" [style]="{width: '360px'}"
            styleClass="ui-card-shadow">
            <p-header>
                <img src="Card" src="assets/images/home/counselling.jpg">
            </p-header>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                neque quas!</div>
            <p-footer>
                <!--button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
        <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button-->
            </p-footer>
        </p-card>
    </div>
</div>