.header {
    background: #fefaee;
    height: 319px;
}

.header-txt {
    padding: 30px;
    text-align: center;
    color: #1e7477;
    font-size: 30px;
    font-family: Open Sans, Helvetica Neue, sans-serif;
}