<section id="SECTION_1">
    <div id="DIV_2">
        <div id="DIV_3">
            <div id="DIV_4">
                <h2 id="H2_5">
                    Footer Social
                </h2>
                <div id="DIV_6">
                    <div id="DIV_7">
                        <div id="DIV_8">
                            <div id="DIV_9">
                                <a href="https://www.facebook.com/samhsa" title="Facebook" id="A_10"><i
                                        class="fa fa-facebook-f" style="font-size:36px"></i>
                                    <span id="SPAN_12">Facebook</span></a>
                            </div>
                            <div id="DIV_13">
                                <a href="https://twitter.com/samhsagov" title="Twitter" id="A_14"><i
                                        class="fa fa-twitter" style="font-size:36px"></i>
                                    <span id="SPAN_16">Twitter</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav id="NAV_17">
                <h2 id="H2_18">
                    Footer 1 Menu
                </h2>
                <ul id="UL_19">
                    <li id="LI_20">
                        <a href="http://www.mentalhealth.gov/" class="is-active" id="A_21">Home</a>
                    </li>
                    <li id="LI_22">
                        <a href="http://www.mentalhealth.gov/about-us" id="A_23">About Us</a>
                    </li>
                    <li id="LI_24">
                        <a href="https://www.samhsa.gov/accessibility" id="A_25">Accessibility</a>
                    </li>
                    <li id="LI_26">
                        <a href="https://www.samhsa.gov/privacy" id="A_27">Privacy</a>
                    </li>
                    <li id="LI_28">
                        <a href="https://www.samhsa.gov/disclaimer" id="A_29">Disclaimer</a>
                    </li>
                    <li id="LI_30">
                        <a href="https://www.samhsa.gov/plain-language" id="A_31">Plain Language</a>
                    </li>
                    <li id="LI_32">
                        <a href="https://www.hhs.gov/about/agencies/asa/eeo/resources/no-fear-act/index.html"
                            id="A_33">No FEAR</a>
                    </li>
                </ul>
            </nav>
            <nav id="NAV_34">
                <h2 id="H2_35">
                    footer-2-menu
                </h2>
                <ul id="UL_36">
                    <li id="LI_37">
                        <a href="https://www.samhsa.gov/viewers-plugins" id="A_38">Viewers &amp; Players</a>
                    </li>
                    <li id="LI_39">
                        <a href="https://www.hhs.gov/foia/index.html" id="A_40">FOIA</a>
                    </li>
                    <li id="LI_41">
                        <a href="https://www.whitehouse.gov/" id="A_42">WhiteHouse.gov</a>
                    </li>
                    <li id="LI_43">
                        <a href="https://www.usa.gov/" id="A_44">USA.gov</a>
                    </li>
                    <li id="LI_45">
                        <a href="https://gobierno.usa.gov/" id="A_46">GobiernoUSA.gov</a>
                    </li>
                    <li id="LI_47">
                        <a href="https://www.samhsa.gov/nondiscrimination-notice" id="A_48">Nondiscrimination Notice</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="DIV_49">
            <div id="DIV_50">
                <h2 id="H2_51">
                    Language Assistance Available
                </h2>
                <div>
                    <div>
                        <ul id="UL_36">
                            <li id="LI_55">
                                <a href="https://www.samhsa.gov/language-assistance-services#spanish"
                                    id="A_56">Español</a>
                            </li>
                            <li id="LI_57">
                                <a href="https://www.samhsa.gov/language-assistance-services#chinese" id="A_58">繁體中文</a>
                            </li>
                            <li id="LI_59">
                                <a href="https://www.samhsa.gov/language-assistance-services#vietnamese" id="A_60">Tiếng
                                    Việt</a>
                            </li>
                            <li id="LI_61">
                                <a href="https://www.samhsa.gov/language-assistance-services#korean" id="A_62">한국어</a>
                            </li>
                            <li id="LI_63">
                                <a href="https://www.samhsa.gov/language-assistance-services#tagalog"
                                    id="A_64">Tagalog</a>
                            </li>
                            <li id="LI_65">
                                <a href="https://www.samhsa.gov/language-assistance-services#russian"
                                    id="A_66">Русский</a>
                            </li>
                            <li id="LI_67">
                                <a href="https://www.samhsa.gov/language-assistance-services#arabic"
                                    id="A_68">العربية</a>
                            </li>
                            <li id="LI_69">
                                <a href="https://www.samhsa.gov/language-assistance-services#creole" id="A_70">Kreyòl
                                    Ayisyen</a>
                            </li>
                        </ul>
                        <ul id="UL_36">
                            <li id="LI_72">
                                <a href="https://www.samhsa.gov/language-assistance-services#french"
                                    id="A_73">Français</a>
                            </li>
                            <li id="LI_74">
                                <a href="https://www.samhsa.gov/language-assistance-services#polish"
                                    id="A_75">Polski</a>
                            </li>
                            <li id="LI_76">
                                <a href="https://www.samhsa.gov/language-assistance-services#portuguese"
                                    id="A_77">Português</a>
                            </li>
                            <li id="LI_78">
                                <a href="https://www.samhsa.gov/language-assistance-services#italian"
                                    id="A_79">Italiano</a>
                            </li>
                            <li id="LI_80">
                                <a href="https://www.samhsa.gov/language-assistance-services#german"
                                    id="A_81">Deutsch</a>
                            </li>
                            <li id="LI_82">
                                <a href="https://www.samhsa.gov/language-assistance-services#japanese" id="A_83">日本語</a>
                            </li>
                            <li id="LI_84">
                                <a href="https://www.samhsa.gov/language-assistance-services#farsi" id="A_85">فارسی</a>
                            </li>
                            <li id="LI_86">
                                <a href="https://www.samhsa.gov/language-assistance-services#english"
                                    id="A_87">English</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#postscript-layout -->

</section>
<footer id="FOOTER_1">
    <div id="DIVA_2">
        <div id="DIVA_3">
            <div id="DIVA_4">
                <h2 id="H2A_5">
                    Footer Address
                </h2>
                <div id="DIVA_6">
                    <address id="ADDRESS_7">
                        U.S. Department of Health &amp; Human Services, 200 Independence Avenue, S.W. Washington, D.C.
                        20201
                    </address>
                </div>
            </div>
        </div>
    </div>
    <!-- /#footer -->

</footer>